@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100%;
    background-color: #f88bf8;
}

.planner {
    text-align:  center;
    padding-top: 20px;
    padding-bottom: 60px;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding: 20px;
}

.add-task-btn {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #f7f4f4;
    background: #f01212;
    padding: 10px 48px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.calendar-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5c5656;
    color: #c4c4c4;
    padding: 15px;
    border-radius: 8px;
    min-height: 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task {
    background-color: #212121;
    color: #fff;
    padding: 12px;
    margin-top: 10px;
    border-radius: 4px;
    text-align: center;
    word-break: break-word;
    font-size: 0.8em;
    width: 88%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.task:hover,
.modal-content button:hover,
.add-task-btn:hover {
    background-color: #424242;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    border-radius: 14px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.close:hover,
.close:focus {
    color: #000;
}

input[type="date"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
}

.modal-content button {
    background-color: #212121;
    color: #fff;
    padding: 10px 48px;
    margin: 8px 0;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* responsive */
@media screen and (max-width: 1200px){
    .calendar-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (max-width: 992px){
    .calendar-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px){
    .calendar-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px){
    .calendar-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}