:root {
    --timer-day: 'Sun';
    --timer-hours: '00';
    --timer-minutes: '00';
    --timer-seconds: '00';
}

.day:before {
    content: var(--timer-day);
}

.hours:before {
    content: var(--timer-hours);
}

.minutes:before {
    content: var(--timer-minutes);
}

.seconds:before {
    content: var(--timer-seconds);
}

body {
    background:
        radial-gradient(at 0% 0%, rgb(252, 252, 252) 0px, transparent 50%),
        radial-gradient(at 13% 36%, rgb(173, 211, 211) 0px, transparent 50%),
        radial-gradient(at 56% 86%, #ece8e8 0px, transparent 50%),
        radial-gradient(at 69% 44%, rgb(218, 210, 144) 0px, transparent 50%),
        radial-gradient(at 100% 100%, hsla(204, 100%, 73%, 1) 0px, transparent 50%),
        radial-gradient(at 95% 5%, hsla(302, 81%, 90%, 1) 0px, transparent 50%) no-repeat;
    font-family: "Montserrat";
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 60px 20px;
    box-shadow: 1px 1px 5px #ffffff26,
        0 15px 90px 30px #00000040;
    display: flex;
}

.col {
    text-align: center;
    margin-right: 40px;
    margin-left: 40px;
    min-width: 90px;
    position: relative;
}

.col:not(:last-child):before,
.col:not(:last-child):after {
    content: "";
    display: block;
    height: 5px;
    width: 5px;
    background-color: #ffffff4d;
    border-radius: 50%;
    position: absolute;
    right: -42px;
}

.col:not(:last-child):before {
    top: 35%;
}

.col:not(:last-child):after {
    top: 50%;
}

.timer:before {
    color: #fff;
    font-size: 4.2em;
    text-transform: uppercase;
}

.label {
    color: #00000059;
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: 10px;
}

/* responsive */
@media screen and (max-width: 576px) {
    body {
        height: auto;
    }

    .container {
        min-width: 98%; /* Thu nhỏ container */
        flex-direction: column; /* Xếp chồng các cột */
        align-items: center; /* Canh giữa các cột */
        padding: 30px 10px; /* Giảm khoảng cách lề */
    }

    .col {
        margin-right: 0; /* Xóa lề trái và lề phải */
        margin-left: 0;
        margin-bottom: 20px; /* Thêm khoảng cách giữa các cột */
    }

    .col:not(:last-child):before,
    .col:not(:last-child):after {
        display: none; /* Ẩn dấu chấm giữa các cột */
    }

    .timer:before {
        font-size: 3em; /* Giảm kích thước phần timer */
    }

    .label {
        margin-top: 5px; /* Giảm khoảng cách giữa timer và nhãn */
    }
}
