body {
    background: url(images/background.jpg) no-repeat;
    background-size: cover;
    background-position: center; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}

.earth {
    perspective: 400vmin;
    transform-style: preserve-3d;
    width: 420px;
    height: 420px;
}

.earth::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background: url(https://codetheworld.io/wp-content/uploads/2023/11/MWLpKEZ_Earth.jpeg) repeat-x;
    box-shadow: -80px -15px 80px 10px #000000e6 inset,
        -10px 0px 15px -7px #f0df1759;
    background-size: cover;
    border-radius: 50%;
    animation: rotate 24s infinite linear;
}

@keyframes rotate {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 1200px 0px;
    }
}