* {
    padding: 10000;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:
    radial-gradient(at 0% 0%, rgb(252, 230, 227) 0px, transparent 50%),
    radial-gradient(at 13% 36%, rgb(173, 211, 211) 0px, transparent 50%),
    radial-gradient(at 56% 86%, #ece8e8 0px, transparent 50%),
    radial-gradient(at 69% 44%, rgb(241, 112, 112) 0px, transparent 50%),
    radial-gradient(at 100% 100%, hsla(204, 100%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 95% 5%, hsla(302, 81%, 90%, 1) 0px, transparent 50%);
}

.calc {
    background-color: #c6af91;
    width: 640px;
    font-family: 'VT323';
}

.header {
    background-color: #222;
    height: 100%;
    padding: 1em 2em 2em 2em;
    border: 0.5em outset #555;
}

h1 {
    margin: 0.25em 0 0.5em 0;
    color: white;
}

.header hr {
    border: 0;
    margin-left: -2em;
    border-bottom: 0.25em solid #444;
    margin-right: -2em;
    margin-bottom: 0;
}

.red {
    border-bottom: 0.25em solid red;
}

input[type=text] {
    background-color: #928c7c;
    color: #222;
    font-size: 300%;
    min-width: 95%;
    max-width: 95%;
    border: 0.1em inset #cbcbcb;
    padding-left: 0.5em;
    text-align: right;
}

.body {
    border: 0.5em outset #c6af91;
    height: 100%;
    min-height: 20em;
    padding: 1em 1em 3em 1em; 
}

.body hr {
    border-bottom: 0.25em solid #9f3543;
}

.row {
    margin-top: 0.5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

input[type=button] {
    background-color: #444;
    border: 0.2em outset #444;
    color: white;
    font-size: 250%;
    width: 3.6em;
    height: 2em;
    padding: 0;
    margin: 0;
}

input[type=button].equals {
    border: 0.2em outset #666;
    background-color: #666;
}

input[type=button].clear {
    border: 0.2em outset #fe752d;
    background-color: #fe752d;
}

input[type=button]:active {
    border: 0 !important;
}

input[type=button]:focus {
    outline: 0;
}

/* responsive */

@media only screen and (max-width: 600px) {
    .container {
        min-height: auto;
    }
    .calc {
        max-width: 96%;
        margin: 2em;
        position: absolute;
        top: 20px;
    }
    .row {
        margin-top: 0.5em;
    }

    input[type=button] {
        margin: 0.1em;
    }
}
