*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
      background-color: #5ebbf9; 
} 
 #game{
      height:550px;  
     width:80%;  
    background-image: url('images/bacground.png'); 
     background-repeat: no-repeat; 
     background-size: cover; 
    background-position: bottom;
    border: 4px solid black; 
    overflow: hidden;
   position: relative; 
    display: flex; 
  
} 

 
.bird{
    position: absolute;
     top:220px; 
     left:90px;  
     margin: 0px; 
     padding: 0px;
     height: 50px;
     width: 70px;
}
.bird img[src="./images/test.png"]{
    height: 100% ; 
     width: 100%; 
}
.bird img[src="./images/bird2.png"]{
     height: 100% ; 
     width: 100%; 
}
#score{
     color:black; 
    position: absolute; 
    top:5%; 
     left:50%; 
     font-weight:900; 
     transform: translateX(-50%); 
     font-size: 23px; 
}
#pice1{
    position:absolute; 
     width:50px;
     height: 50%; 
     background-image: url('./images/ongduoi.png'); 
     background-repeat: no-repeat;
    background-size: cover; 

    transform: rotate(180deg); 
    z-index: 10px; 
}
#pice2{
    position:absolute; 
     width:50px;
     height: 30%; 
     background-image: url('./images/ongduoi.png'); 
    
   top:80%; 
    z-index: 10px;
}
.obs{
     left:90%; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; 
    animation: move 2.5s ease-in-out infinite;  

}

@keyframes move{
    0%{
        left:100%;
    }
    100%{
        left:-6%;
    }
}
 
.table-list{
    background-color: #f1f17f;
    width: 250px;
    position: absolute;
    border-radius: 9px;
    top:50%;
    left: 50%;
    margin: 0px auto;
     transform: translateX(-50%);   
     display: flex;
     padding: 10px;
    
}
.table h2{
    position: absolute;
    top:-100%;
     left: 50%;
    transform: translateX(-50%);   
    display: flex;
    width: 250px;
    font-size: 40px;
    font-weight:bold;
   
}
.btn{
    position: absolute;
    top:140%;
     left: 50%;
    transform: translateX(-50%);   
    padding: 10px;
    background-color: aqua;
    font-weight: bold;
    border-radius: 15px;
    
}
.table-item{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.table-item span{
    display: flex;
    flex-direction: column;
    width: 60px;
     position: relative;
}
.table-item img,p{
    width:30px;
    margin: 5px auto;
}
.delete{
    display: none;
}